.ion-page {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  padding-left: 40px;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}
.container  {
  padding-left: 20px;
  padding-right: 20px;
}

.container .card-block ion-button {
  --border-radius: 8px;
}

.container ion-searchbar.search-bar .searchbar-input-container {
  min-height: 70px;
}

.container ion-searchbar.search-bar .searchbar-input-container ion-icon.searchbar-search-icon {
  margin-left: 20px;
}

.container ion-searchbar.search-bar .searchbar-input-container input.searchbar-input {
  padding-inline-start: 4rem;
}

.container .searchbar-has-value.searchbar-should-show-clear.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 4rem;
}

.container ion-searchbar.search-bar {
  --border-radius:22px;
  padding-left: 0;
  padding-right: 0;
}

.container .card-block ion-card {
  box-shadow: none;
  margin: 0 0 20px 0;
  border: 2px solid #E9E9E9;
  border-radius: 20px;
}
.container .card-block ion-card ion-card-title {
  font-size: 24px;
}

.container .card-block ion-card ion-card-subtitle {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.container .card-block ion-card span {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: lowercase;
  color: #fff;
  background-color: #7F82ED;
  margin: 0;
}

.container .card-block ion-card ion-card-content {
  padding-inline: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  color: #3035E2;
  font-weight: 700;
  gap: 10px;
}

.container .card-block ion-card ion-card-content .card-img img {
  height: 33px;
}
